<ul class="p-works-archive__lists p-archive__lists">
    <li class="p-archive__list is-active">ALL</li>
    <li class="p-archive__list">カテゴリ1</li>
    <li class="p-archive__list">カテゴリカテゴリ</li>
    <li class="p-archive__list">カテ</li>
</ul>