<div class="c-detail-related u-detail-related_margin">
  <p class="p-detail-related__pc-title p-detail-related-common">関連記事</p>
  <p class="p-detail-related__sp-title p-detail-related-common">おすすめ記事</p>

  <ul class="c-detail-related__cards p-related-cards">
   <li class="c-related-cards__card related-card">
    <div class="c-related-card__img">
      <img src="images/common/blog-archive/blog6.png" alt="blog-archive06">
    </div>
    <div class="p-related-card__message related-message ">
      <p class="p-related-message__title">タイトルが入ります。タイトルが入ります。</p>

      <p class="p-related-message__text p-related-message__text_margin">説明文が入ります。説明文が入ります。説明文が入ります。</p>
      <div class="p-related-message__unit p-related-unit">
        <p class="p-related-unit__cat">カテゴリ</p>
        <p class="p-related-unit__date">2021.07.20</p>
      </div>
    </div>
   </li>
   <li class="c-related-cards__card related-card">
    <div class="c-related-card__img">
      <img src="images/common/blog-archive/blog7.png" alt="blog-archive07">
    </div>
    <div class="p-related-card__message related-message ">
      <p class="p-related-message__title">タイトルが入ります。タイトルが入ります。</p>

      <p class="p-related-message__text">説明文が入ります。説明文が入ります。説明文が入ります。</p>
      <div class="p-related-message__unit p-related-unit">
        <p class="p-related-unit__cat">カテゴリ</p>
        <p class="p-related-unit__date">2021.07.20</p>
      </div>
    </div>
   </li>
   <li class="c-related-cards__card related-card">
    <div class="c-related-card__img">
      <img src="images/common/blog-archive/blog8.png" alt="blog-archive08">
    </div>
    <div class="p-related-card__message related-message ">
      <p class="p-related-message__title">タイトルが入ります。タイトルが入ります。</p>

      <p class="p-related-message__text">説明文が入ります。説明文が入ります。説明文が入ります。</p>
      <div class="p-related-message__unit p-related-unit">
        <p class="p-related-unit__cat">カテゴリ</p>
        <p class="p-related-unit__date">2021.07.20</p>
      </div>
    </div>
   </li>
   <li class="c-related-cards__card related-card">
    <div class="c-related-card__img">
      <img src="images/common/blog-archive/blog9.png" alt="blog-archive09">
    </div>
    <div class="p-related-card__message related-message ">
      <p class="p-related-message__title">タイトルが入ります。タイトルが入ります。</p>

      <p class="p-related-message__text">説明文が入ります。説明文が入ります。説明文が入ります。</p>
      <div class="p-related-message__unit p-related-unit">
        <p class="p-related-unit__cat">カテゴリ</p>
        <p class="p-related-unit__date">2021.07.20</p>
      </div>
    </div>
   </li>
  </ul>
</div>