<div class="c-detail-page">
  <ul class="c-detail-page__unit p-unit">
    <li class="p-unit__list p-list-prev">
      <a href="" class="p-list-common u-list-prev__a">PREV</a>
    </li>
    <li class="p-unit__list p-list-list">
      <a href="" class="p-list-common  u-list-list__a">一覧</a>
    </li>
    <li class="p-unit__list p-list-next">
      <a href="" class="p-list-common  u-list-next__a">NEXT</a>
    </li>
  </ul>
</div>