<li class="c-list">
  <a href="#"
    ><div class="c-list--left">
      <span class="c-list__date">2020.7.20</span>
      <span class="c-list__category">カテゴリ</span>
    </div>
    <div class="c-list__text">
      記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。
    </div>
  </a>
</li>
