<section class="c-pagenation">
  <div class="pagenation__wrapper">
    <a href="#" class="prev">PREV</a>
    <a href="#" class="archive">一覧</a>
    <a href="#" class="next">NEXT</a>
  </div>
</section>
