.c-category {
  font-size: rem(14);
  line-height: rem(20);
  border: solid 1px $background;
  color: $background;
  padding-top: rem(6);
  padding-bottom: rem(5);
  padding: rem(6) rem(22);
  text-align: center;
}
