.c-list a {
  @include mq("tab") {
    display: flex;
    align-items: center;
  }
}

.c-list--left {
  display: flex;
  align-items: center;
  @include mq("tab") {
  }
}

.c-list__date {
  font-size: rem(16);
  color: $background;
}

.c-list__category {
  font-size: rem(14);
  line-height: rem(20);
  border: solid 1px $background;
  color: $background;
  padding-top: 6px;
  padding-bottom: 5px;
  text-align: center;
}

.c-list__text {
  color: $background;
  padding-top: rem(16);
  @include mq("tab") {
    padding-top: 0;
  }
}
