<footer class="l-footer">
  <div class="p-footer">
    <div class="l-footer__inner">
      <div class="p-footer__content">
        <div class="p-footer__logo">
          <a href="/" class="p-footer__logo-link">
            <img src="./images/common/home/logo-codeups.svg" alt="">
          </a>
        </div>
        <nav class="p-footer__navigation">
          <ul class="p-footer__lists p-nav">
            <li class="p-nav__list p-nav__list--sp">
              <a href="#" class="p-nav__link">トップ</a>
            </li>
            <li class="p-nav__list p-nav__list--sp">
              <a href="#" class="p-nav__link">お知らせ</a>
            </li>
            <li class="p-nav__list">
              <a href="#" class="p-nav__link">事業内容</a>
            </li>
            <li class="p-nav__list p-nav__list--pc">
              <a href="#" class="p-nav__link">制作実績</a>
            </li>
            <li class="p-nav__list">
              <a href="#" class="p-nav__link">企業概要</a>
            </li>
            <li class="p-nav__list p-nav__list--pc">
              <a href="#" class="p-nav__link">自社メディア</a>
            </li>
            <li class="p-nav__list p-nav__list--sp">
              <a href="#" class="p-nav__link">ブログ</a>
            </li>
            <li class="p-nav__list">
              <a href="#" class="p-nav__link">お問い合わせ</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="p-footer__small">
        <small class="c-copy">&copy;2021 CodeUps Inc.</small>
      </div>
    </div>
  </div>
</footer>
