
<header class="l-header">
  <div class="p-header">
    <div class="p-header__inner">
      <div class="header__inner__logo p-logo">
        <img src="./images/common/home/logo-codeups.svg" alt="logo">
      </div>
      <ul class="p-header__pc-nav p-pc-nav">
        <li class="p-pc-nav__item"><a href="#news">お知らせ</a></li>
        <li class="p-pc-nav__item"><a href="#content">事業内容</a></li>
        <li class="p-pc-nav__item"><a href="#works">制作実績</a></li>
        <li class="p-pc-nav__item"><a href="#overview">企業概要</a></li>
        <li class="p-pc-nav__item"><a href="#blog">ブログ</a></li>
        <li class="p-pc-nav__item"><a class="p-pc-nav__item--white" href="#contact">お問い合わせ</a>
        </li>
      </ul>
    </div>
  </div>
</header>



<div class="p-header__drawer c-hamburger js-hamburger">
  <div class="drawer-icon__bars p-bars">
    <div class="p-bar p-bar__top"></div>
    <div class="p-bar p-bar__mid"></div>
    <div class="p-bar p-bar__btn"></div>
  </div>
</div>

 <div class="drawer-content p-header__sp-nav p-sp-nav js-drawer-menu .menu">
  <div class="p-sp-nav__items">
    <div class="p-sp-nav__item"><a href="#top">トップ</a></div>
    <div class="p-sp-nav__item"><a href="#news">お知らせ</a></div>
    <div class="p-sp-nav__item"><a href="#content">事業内容</a></div>
    <div class="p-sp-nav__item"><a href="#works">制作実績</a></div>
    <div class="p-sp-nav__item"><a href="#overview">企業概要</a></div>
    <div class="p-sp-nav__item"><a href="#blog">ブログ</a></div>
    <div class="p-sp-nav__item"><a href="#contact">お問い合わせ</a></div>
  </div>
 </div>
<div class="p-drawer-background"></div>

