<div class="l-works-archive p-works-archive">
    <div class="l-inner">
        <div class="p-works-archive__category">
            <ul class="p-works-archive__lists p-archive__lists">
                <li class="p-archive__list is-active">ALL</li>
                <li class="p-archive__list">カテゴリ1</li>
                <li class="p-archive__list">カテゴリカテゴリ</li>
                <li class="p-archive__list">カテ</li>
            </ul>
        </div>
    </div>
    <div class="l-works-archive__inner">
        <ul class="p-works-archive__cards p-archive-cards">
            <li class="p-works-archive-cards__list p-archive-card">
                <figure class="p-archive-card__image" style="background-image : url(./images/common/works-archive/works-1.jpg)">
                    <div class="p-archive-card__category-wrapper">
                        <span class="c-archive-card__category">カテゴリ1</span>
                    </div>
                </figure>
                <div class="p-archive-card__title">
                    <h3 class="c-card-title">CodeUps株式会社</h3>
                </div>
            </li>
            <li class="p-works-archive-cards__list p-archive-card">
                <figure class="p-archive-card__image" style="background-image : url(./images/common/works-archive/works-2.jpg)">
                    <div class="p-archive-card__category-wrapper">
                        <span class="c-archive-card__category">カテゴリ1</span>
                    </div>
                </figure>
                <div class="p-archive-card__title">
                    <h3 class="c-card-title">CodeUps株式会社</h3>
                </div>
            </li>
            <li class="p-works-archive-cards__list p-archive-card">
                <figure class="p-archive-card__image" style="background-image : url(./images/common/works-archive/works-3.jpg)">
                    <div class="p-archive-card__category-wrapper">
                        <span class="c-archive-card__category">カテゴリ1</span>
                    </div>
                </figure>
                <div class="p-archive-card__title">
                    <h3 class="c-card-title">CodeUps株式会社</h3>
                </div>
            </li>
            <li class="p-works-archive-cards__list p-archive-card">
                <figure class="p-archive-card__image" style="background-image : url(./images/common/works-archive/works-4.jpg)">
                    <div class="p-archive-card__category-wrapper">
                        <span class="c-archive-card__category">カテゴリ1</span>
                    </div>
                </figure>
                <div class="p-archive-card__title">
                    <h3 class="c-card-title">CodeUps株式会社</h3>
                </div>
            </li>
            <li class="p-works-archive-cards__list p-archive-card">
                <figure class="p-archive-card__image" style="background-image : url(./images/common/works-archive/works-5.jpg)">
                    <div class="p-archive-card__category-wrapper">
                        <span class="c-archive-card__category">カテゴリ1</span>
                    </div>
                </figure>
                <div class="p-archive-card__title">
                    <h3 class="c-card-title">CodeUps株式会社</h3>
                </div>
            </li>
            <li class="p-works-archive-cards__list p-archive-card">
                <figure class="p-archive-card__image" style="background-image : url(./images/common/works-archive/works-6.jpg)">
                    <div class="p-archive-card__category-wrapper">
                        <span class="c-archive-card__category">カテゴリ1</span>
                    </div>
                </figure>
                <div class="p-archive-card__title">
                    <h3 class="c-card-title">CodeUps株式会社</h3>
                </div>
            </li>
        </ul>
    </div>
    <div class="l-pager p-pager">
        <div class="l-inner">
            <div class="p-pager__wrapper">
                <ul class="p-pager__lists">
                    <div class="p-pager__prev-wrapper">
                        <li class="p-pager__prev">PREV</li>
                    </div>
                    <li class="p-pager__list p-pager__list--active">1</li>
                    <li class="p-pager__list">2</li>
                    <li class="p-pager__list">3</li>
                    <li class="p-pager__list">4</li>
                    <div class="p-pager__next-wrapper">
                        <li class="p-pager__next">NEXT</li>
                    </div>
                </ul>
            </div>
        </div>
    </div>
</div>