
.p-content-top{
  background-image:url(.././images/common/header_sp/contents-mv_sp.png);
  @include mq('tab'){   
   background-image:url(.././images/common/header/content-mv.png);
 }
}





.c-underlayer-top{
  width:100%;
  align-items:center;
  text-align:center;
  display:grid;
  background-position:center center ;background-size:cover;
  padding-top: 113.3333%;
  position: relative;
  width: 100%;
  @include mq('tab'){   
    padding-top: 28.9062%;
  }
}

.c-underlayer-top__img{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  @include mq('tab'){  
  } 
}

.c-underlayer-top__title{
   color:#fff;
   font-weight:700;
   font-size:rem(30);
   letter-spacing:rem(2);
  
   position:absolute;
   left:50%;
   top:50%;
   transform: translateX(-50%);
   @include mq('tab'){
    font-size:rem(35);
    line-height:1;
  } 
}

.u-underlayer-top__title_contact{
  left:48.8% !important;
}