<div class="p-card">

    <li class="p-cards__item">
        <div class="p-card p-card--new">
        <a href="#">
            <figure class="p-card__image">
                <img src="./images/common/blog-archive/blog-archive-1.jpg" alt="ブログ記事アイキャッチ">
            </figure>
            <div class="p-card__contents-wrapper">
                <div class="p-card__contents">
                    <h3 class="p-card__title">タイトルが入ります。タイトルが入ります。</h3>
                    <p class="p-card__text">説明文が入ります。説明文が入ります。説明文が入ります。</p>
                </div>
                <div class="p-card__meta">
                    <div class="p-card__category">カテゴリ</div>
                    <time class="p-card__time" datetime="2021-07-20">2021.07.20</time>
                </div>
            </div>
        </a>
    </div>
</li>
</div>
