<section class="p-information">
  <div class="l-inner p-information__inner">
    <ul class="p-information__lists c-lists">
      <li class="c-list p-information__list">
        <a href="#"
          ><div class="c-list--left p-information__list--left">
            <span class="c-list__date p-information__date"
              >2020.7.20</span
            >
            <span class="c-list__category p-information__category"
              >お知らせ</span
            >
          </div>
          <div class="c-list__text p-information__text">
            記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。
          </div>
        </a>
      </li>
    </ul>
  </div>
</section>
