<div class="p-mv">
  <div class="wrap">
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="slide-img">
            <img src="./images/common/mv/mv-slider-1.jpg" alt="img1" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide-img">
            <img src="./images/common/mv/mv-slider-2.jpg" alt="img2" />
          </div>
        </div>
        <div class="swiper-slide">
          <div class="slide-img">
            <img src="./images/common/mv/mv-slider-3.jpg" alt="img3" />
          </div>
        </div>
      </div>
    </div>
    <div class="p-mv__text-wrapper">
      <h2 class="p-mv__title">メインタイトルが入ります。</h2>
      <p class="p-mv__lead">サブタイトルが入ります。</p>
    </div>
  </div>
</div>
