<div class="p-pager">
    <div class="l-inner">
        <div class="p-pager__wrapper">
            <ul class="p-pager__lists">
                <div class="p-pager__prev-wrapper">
                    <li class="p-pager__prev">PREV</li>
                </div>
                <li class="p-pager__list p-pager__list--active">1</li>
                <li class="p-pager__list">2</li>
                <li class="p-pager__list">3</li>
                <li class="p-pager__list">4</li>
                <div class="p-pager__next-wrapper">
                    <li class="p-pager__next">NEXT</li>
                </div>
            </ul>
        </div>
    </div>
</div>
