<li class="p-sub-card p-sub-blog-item">
  <a href="#">
    <figure class="p-sub-card__image">
      <img
        src="./images/common/works-archive/works-1.jpg"
        alt="ブログ記事アイキャッチ"
      />
    </figure>
    <div class="p-sub-card__contents-wrapper">
      <div class="p-sub-card__contents">
        <h3 class="p-sub-card__title">
          タイトルが入ります。タイトルが入ります。
        </h3>
        <p class="p-sub-card__text">
          説明文が入ります。説明文が入ります。説明文が入ります。
        </p>
      </div>
      <div class="p-sub-card__meta">
        <div class="p-sub-card__category">カテゴリ</div>
        <time class="p-sub-card__time" datetime="2021-07-20">2021.07.20</time>
      </div>
    </div>
  </a>
</li>
