<li class="p-archive-card">
    <div class="p-works-archive-cards__list">
        <figure class="p-archive-card__image" style="background-image : url(./images/common/works-archive/works-1.jpg)">
            <div class="p-archive-card__category-wrapper">
                <span class="c-archive-card__category">カテゴリ1</span>
            </div>
        </figure>
        <div class="p-archive-card__title">
            <h3 class="c-card-title">CodeUps株式会社</h3>
        </div>
    </div>
</li>