<section class="p-works">
  <div class="p-works__container">
    <div class="p-works__inner">
      <%- include('./_p-works-swiper.ejs') %> <%-
      include('./_p-works-point.ejs') %>
    </div>
  </div>
</section>
