.p-overview-main{
  width:100%;
  max-width:rem(1100);

}

.u-overview-main_margin-top{
  margin: rem(146) auto 0;
}


.p-overview-items{
  color:#fff;
  padding:0 $padding-sp;
  @include mq('tab'){
    // padding:0;
  } 
}

.c-overview-item{
  display:flex;
  font-size: rem(13);
  padding-bottom:rem(19);
  border-bottom: 1px solid #fff;
  @include mq('tab'){
    font-size:rem(16);
    padding-bottom:rem(28);
  }
}

.p-overview-items__item + .p-overview-items__item{
  margin-top:rem(14);
  @include mq('tab'){
    margin-top:rem(30);
  }
}

.c-overview-item__term{
  line-height: 1.6153;
  width:rem(109);
  padding-left:rem(5);
  @include mq('tab'){
    width:rem(152);
    padding-left:rem(2);
    line-height:1.3125;
  }
}

.c-overview-item__desc{
  line-height: 1.846;
  width:66.96%;
  
  @include mq('tab'){
    width:87.182%;
    line-height:1.5;
    letter-spacing:1px;
  } 
}

.p-map{
  height:18.73rem;
  width:100%;
  @include mq('tab'){
    height:22.93rem;
   } 
}

.u-map_margin-top{
  margin-top:rem(120);

  @include mq('tab'){
    margin-top:5.07rem;
  } 
}

.p-map iframe{
  height:100%;
  width:100%;
}