<section class="p-complete">
  <div class="l-inner p-complete__inner">
    <div class="p-complete__wrapper">
      <h1 class="p-complete__heading">お問合わせ完了</h1>
      <p class="p-complete__reply">
        3営業以内に<br class="u-hidden-pc" />返信させて頂きます。
      </p>
      <div class="c-btn__wrapper p-complete__btn">
        <a href="#" class="c-btn">TOPへ</a>
      </div>
    </div>
  </div>
</section>
