<div class="p-content">
  <div class="l-inner">
    <h2 class="p-content__title c-section-title">事業内容</h2>

  </div>
 
  <div class="p-content__wrapper p-content-items">
    <div class="p-content-item p-content-items__item">
      <a href="#">
        <div class="p-content-item__img">
          <img src="../images/common/home/content1.png" alt="content1">
        </div>
        <p class="p-content-item__title">経営理念ページへ</p>
      </a>
    </div>
    <div class="p-content-item p-content-items__item">
      <a href="#">
        <div class="p-content-item__img">
          <img src="../images/common/home/content2.png" alt="content02">
        </div>
        <p class="p-content-item__title">理念１へ</p>
      </a>
    </div>
    <div class="p-content-item p-content-items__item">
      <a href="#">
        <div class="p-content-item__img">
          <img src="../images/common/home/content3.png" alt="content03">
        </div>
        <p class="p-content-item__title">理念２へ</p>
      </a>
    </div>
    <div class="p-content-item p-content-items__item">
      <a href="#">
        <div class="p-content-item__img">
          <img src="../images/common/home/content4.png" alt="content04">
        </div>
        <p class="p-content-item__title">理念３へ</p>
      </a>
    </div>
    
    
    
  </div>
</div>