<div class="p-contact">
    <div class="l-inner">
        <div class="p-contact__inner">
            <h2 class="p-contact__title c-section-title">お問い合わせ</h2>
            <div class="p-contact__content-wrapper">
                <div class="p-contact__content">
                    <div class="p-contact__text-wrapper">
                        <p class="p-contact__text c-text">
                                テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                        </p>
                    </div>
                    <div class="p-contact__btn p-btn-wrapper">
                        <%- include('../compornent/_c-btn',{link:'#',text:'お問い合わせ'}) %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
