<ul class="p-lists">
  <li class="p-list__item">
    <a href="#"
      ><div class="p-list__left">
        <span class="p-list__date">2020.7.20</span>
        <span class="p-list__category">カテゴリ</span>
      </div>
      <div class="p-list__text">
        記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。
      </div>
    </a>
  </li>
  <li class="p-list__item">
    <a href="#"
      ><div class="p-list__left">
        <span class="p-list__date">2020.7.20</span>
        <span class="p-list__category">カテゴリ</span>
      </div>
      <div class="p-list__text">
        記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。
      </div>
    </a>
  </li>
  <li class="p-list__item">
    <a href="#"
      ><div class="p-list__left">
        <span class="p-list__date">2020.7.20</span>
        <span class="p-list__category">カテゴリ</span>
      </div>
      <div class="p-list__text">
        記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。
      </div>
    </a>
  </li>
  <li class="p-list__item">
    <a href="#"
      ><div class="p-list__left">
        <span class="p-list__date">2020.7.20</span>
        <span class="p-list__category">カテゴリ</span>
      </div>
      <div class="p-list__text">
        記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。
      </div>
    </a>
  </li>
  <li class="p-list__item">
    <a href="#"
      ><div class="p-list__left">
        <span class="p-list__date">2020.7.20</span>
        <span class="p-list__category">カテゴリ</span>
      </div>
      <div class="p-list__text">
        記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。
      </div>
    </a>
  </li>
  <li class="p-list__item">
    <a href="#"
      ><div class="p-list__left">
        <span class="p-list__date">2020.7.20</span>
        <span class="p-list__category">カテゴリ</span>
      </div>
      <div class="p-list__text">
        記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。
      </div>
    </a>
  </li>
  <li class="p-list__item">
    <a href="#"
      ><div class="p-list__left">
        <span class="p-list__date">2020.7.20</span>
        <span class="p-list__category">カテゴリ</span>
      </div>
      <div class="p-list__text">
        記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。
      </div>
    </a>
  </li>
</ul>
