<section class="p-not-found">
  <div class="l-inner p-not-found__inner">
    <div class="p-not-found__wrapper">
      <h1 class="p-not-found__heading">404 Not Found</h1>
      <p class="p-not-found">
        お探しのページは<br class="u-hidden-pc" />見つかりませんでした。
      </p>
    </div>
    <div class="c-btn__wrapper p-not-found__btn">
      <a href="#" class="c-btn">TOPへ</a>
    </div>
  </div>
</section>
