<div class="p-news">
  <div class="l-inner p-news__inner">
    <div class="p-news__unit p-news-unit">
        <p class="p-news-unit__date">2020.07.20</p>
        <p class="p-news-unit__news">お知らせ</p>

    </div>
    <p class="p-news__text">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</p>
    <div class="p-news__btn">
      <a class="c-btn c-btn--news">すべて見る</a>
    </div>

  </div>
</div>
