<div class="p-philosophy-block02">
  <div class="p-philosophy-block__img">
    <img src="images/common/content/content2.png" alt="content2">
  </div>
  <div class="p-philosophy-block__message p-philosophy-message p-philosophy-block__message_two">
    <h2 class="p-philosophy-message__title">企業理念２</h2>
    <p class="p-philosophy-message__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
  </div>
</div>