<div class="p-philosophy-block01">
  <div class="p-philosophy-block__img">
    <img src="images/common/content/content1.png" alt="content1">
  </div>
  <div class="p-philosophy-block__message p-philosophy-message">
    <h2 class="p-philosophy-message__title">企業理念１</h2>
    <p class="p-philosophy-message__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
  </div>
</div>
