<div class="p-philosophy-block03">
  <div class="p-philosophy-block__img">
    <img src="images/common/content/content3.png" alt="content3">
  </div>
  <div class="p-philosophy-block__message p-philosophy-message">
    <h2 class="p-philosophy-message__title">企業理念３</h2>
    <p class="p-philosophy-message__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
  </div>
</div>