<div class="p-page-navi">
  <a class="p-page-navi__prev">PREV</a>
  <ul class="p-page-navi__wrapper">
    <li class="p-page-navi__current active"><a href="#">1</a></li>
    <li class="p-page-navi__current"><a href="#">2</a></li>
    <li class="p-page-navi__current"><a href="#">3</a></li>
    <li class="p-page-navi__current"><a href="#">4</a></li>
  </ul>
  <a class="p-page-navi__next">NEXT</a>
</div>
