<section class="p-works__swiper">
  <div class="p-works-gallery gallery">
    <div class="swiper gallery-slider">
      <!-- メイン -->
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="./images/common/works-slider/works-single-slider.png"
            alt="ノートパソコン"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./images/common/works-slider/works-single-slider.png"
            alt="サンプル画像"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./images/common/works-slider/works-single-slider.png"
            alt="サンプル画像"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./images/common/works-slider/works-single-slider.png"
            alt="サンプル画像"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./images/common/works-slider/works-single-slider.png"
            alt="サンプル画像"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./images/common/works-slider/works-single-slider.png"
            alt="サンプル画像"
          />
        </div>
      </div>
      <div class="swiper-button-prev">
        <img
          src="./images/common/works-slider/slider-arrow_left.svg"
          alt="右矢印"
        />
      </div>
      <div class="swiper-button-next">
        <img
          src="./images/common/works-slider/slider-arrow_right.svg"
          alt="右矢印"
        />
      </div>
    </div>
    <!-- サムネイル -->
    <div class="swiper-container gallery-thumbs">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="./images/common/works-slider/works-single-slider1.png"
            alt="サンプル画像"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./images/common/works-slider/works-single-slider2.png"
            alt="サンプル画像"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./images/common/works-slider/works-single-slider3.png"
            alt="サンプル画像"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./images/common/works-slider/works-single-slide4.png"
            alt="サンプル画像"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./images/common/works-slider/works-single-slider5.png"
            alt="サンプル画像"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./images/common/works-slider/works-single-slider6.png"
            alt="サンプル画像"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./images/common/works-slider/works-single-slider7.png"
            alt="サンプル画像"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./images/common/works-slider/works-single-slider8.png"
            alt="サンプル画像"
          />
        </div>
      </div>
    </div>
  </div>
</section>
