<div class="p-top-overview">
    <div class="p-top-overview__title-wrapper">
      <h2 class="p-top-overview__title c-title">企業概要</h2>
    </div>
    <div class="l-inner">
      <div class="p-top-overview__content">
        <figure class="p-top-overview__img">
          <img src="./images/common/home/overview.png" alt="">
        </figure>
        <div class="p-top-overview__detail">
          <div class="p-top-overview__detail-title-wrapper">
            <h3 class="p-top-overview__detail-title c-title">メインタイトルが入ります</h3>
          </div>
          <div class="p-top-overview__text-wrapper">
            <p class="p-top-overview__text c-text__detail">
              テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
            </p>
          </div>
          <div class="c-btn__wrapper p-top-works__btn-wrapper">
            <a href="" class="c-btn">詳しく見る</a>
          </div>
        </div>
      </div>
    </div>
  </div>