<div class="p-top-blog">
    <div class="p-top-blog__title-wrapper">
      <h2 class="p-top-blog__title c-title">ブログ</h2>
    </div>
    <div class="l-inner">
      <div class="p-top-blog__content">
        <ul class="p-top-blog__lists p-top-cards">
          <li class="p-top-cards__item p-top-card">
            <a href="/" class="p-top-card__link">
              <figure class="p-top-card__img">
                <img src="/images/common/home/blog1.png" alt="">
              </figure>
              <div class="p-top-card__detail">
                <h3 class="p-top-card__detail-title">タイトルが入ります。タイトルが入ります。</h3>
                <p class="p-top-card__text">説明文が入ります。説明文が入ります。説明文が入ります。</p>
                <div class="p-top-card__information">
                  <span class="p-top-card__category">カテゴリ</span>
                  <time class="p-top-card__date" datetime="">2021.07.20</time>
                </div>
              </div>
            </a>
          </li>
          <li class="p-top-cards__item p-top-card">
            <a href="/" class="p-top-card__link">
              <figure class="p-top-card__img">
                <img src="/images/common/home/blog1.png" alt="">
              </figure>
              <div class="p-top-card__detail">
                <h3 class="p-top-card__detail-title">タイトルが入ります。タイトルが入ります。</h3>
                <p class="p-top-card__text">説明文が入ります。説明文が入ります。説明文が入ります。</p>
                <div class="p-top-card__information">
                  <span class="p-top-card__category">カテゴリ</span>
                  <time class="p-top-card__date" datetime="">2021.07.20</time>
                </div>
              </div>
            </a>
          </li>
          <li class="p-top-cards__item p-top-card">
            <a href="/" class="p-top-card__link">
              <figure class="p-top-card__img">
                <img src="/images/common/home/blog1.png" alt="">
              </figure>
              <div class="p-top-card__detail">
                <h3 class="p-top-card__detail-title">タイトルが入ります。タイトルが入ります。</h3>
                <p class="p-top-card__text">説明文が入ります。説明文が入ります。説明文が入ります。</p>
                <div class="p-top-card__information">
                  <span class="p-top-card__category">カテゴリ</span>
                  <time class="p-top-card__date" datetime="">2021.07.20</time>
                </div>
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="c-btn__wrapper p-top-blog__btn-wrapper">
        <a href="" class="c-btn">詳しく見る</a>
      </div>
    </div>
  </div>
