<section class="p-works-swiper">
  <div class="gallery p-works-swiper-gallery">
    <div class="swiper js-gallery-slider p-works-swiper-gallery__items">
      <div class="swiper-wrapper p-works-swiper-gallery__items-wrapper">
        <div class="p-works-swiper-gallery__item swiper-slide">
          <div class="p-works-swiper-gallery__item__text">
            <h3 class="p-works-swiper-gallery__item__title">
              〇〇株式会社様 制作実績
            </h3>
            <span class="p-works-swiper__item__date">2020/06/13</span
            ><span class="p-works-swiper__item__category">カテゴリ1</span>
          </div>
          <div class="p-works-swiper__item__img">
            <img
              src="./images/common/works-slider/works-single-slider1.png"
              alt="ノートパソコン"
            />
          </div>
        </div>
        <div class="swiper-slide">
          <img
            src="./images/common/works-slider/works-single-slider2.png"
            alt="サンプル画像"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./images/common/works-slider/works-single-slider3.png"
            alt="サンプル画像"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./images/common/works-slider/works-single-slider4.png"
            alt="サンプル画像"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./images/common/works-slider/works-single-slider5.png"
            alt="サンプル画像"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./images/common/works-slider/works-single-slider6.png"
            alt="サンプル画像"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./images/common/works-slider/works-single-slider7.png"
            alt="サンプル画像"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./images/common/works-slider/works-single-slider8.png"
            alt="サンプル画像"
          />
        </div>
      </div>
      <div class="swiper-button-prev">
        <img
          src="./images/common/works-slider/slider-arrow_left.svg"
          alt="右矢印"
        />
      </div>
      <div class="swiper-button-next">
        <img
          src="./images/common/works-slider/slider-arrow_right.svg"
          alt="右矢印"
        />
      </div>
    </div>

    <div class="swiper-container js-gallery-thumbs">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <img
            src="./images/common/works-slider/works-single-slider1.png"
            alt="ノートパソコン"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./images/common/works-slider/works-single-slider2.png"
            alt="サンプル画像"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./images/common/works-slider/works-single-slider3.png"
            alt="サンプル画像"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./images/common/works-slider/works-single-slider4.png"
            alt="サンプル画像"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./images/common/works-slider/works-single-slider5.png"
            alt="サンプル画像"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./images/common/works-slider/works-single-slider6.png"
            alt="サンプル画像"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./images/common/works-slider/works-single-slider7.png"
            alt="サンプル画像"
          />
        </div>
        <div class="swiper-slide">
          <img
            src="./images/common/works-slider/works-single-slider8.png"
            alt="サンプル画像"
          />
        </div>
      </div>
    </div>
  </div>
</section>
