<section class="p-works__point">
  <div class="p-works__poit__wrapper">
    <h3 class="p-works__point__heading"></h3>
    <p class="p-works__point__text">
      テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
    </p>
  </div>
</section>
