<section class="p-works">
  <div class="p-works__container">
    <div class="p-works__inner">
      <%- include('./_p-swiper.ejs') %> <%- include('./_p-works__point.ejs') %>
    </div>
  </div>
</section>
