<section class="p-works-point">
  <ul class="p-works-point__items">
    <li class="p-works-point__item">
      <div class="p-works-point__wrapper">
        <h3 class="p-works-point__heading"><%= title %></h3>
        <p class="p-works-point__text"><%= desc %></p>
      </div>
    </li>
  </ul>
</section>
