<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <%- include('./common/_header') %>
    <main><%- include('./parts/_p-complete') %></main>
    <%- include('./common/_footer') %>
  </body>
</html>
