<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
  <body>
   
    
      <%- include('./common/_header') %>

      <%- include('./common/_category-top') %>
    <main class="c-bg-color">
      
      <%- include('./parts/_c-breadcrumb') %>
      <div class="p-philosophy p-philosophy__margin-top">
        <h2 class="p-philosophy__title">企業理念</h2>
        <p class="p-philosophy__text">説明が入ります。説明が入ります。説明が入ります。説明が入ります。説明が入ります。説明が入ります。説明が入ります。説明が入ります。</p>
      </div>
      

      
      <ul class="p-philosophy-main p-philosophy-main__margin-top ">

        <li class="p-philosophy-main__item p-philosophy-item">
          <div class="p-philosophy-item__img">
            <img src="images/common/content/content1.png" alt="content1">
          </div>
          <div class="p-philosophy-item__message p-philosophy-item__message_margin">
           <h2 class="p-philosophy-item__title">企業理念１</h2>
           <p class="p-philosophy-item__text p-philosophy-item__text_margin-top">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
          </div>
        </li>
        <li class="p-philosophy-main__item p-philosophy-item">
          <div class="p-philosophy-item__img">
            <img src="images/common/content/content2.png" alt="content2">
          </div>
          <div class="p-philosophy-item__message p-philosophy-item__message_margin p-philosophy-item__message_two">
           <h2 class="p-philosophy-item__title">企業理念２</h2>
           <p class="p-philosophy-item__text p-philosophy-item__text_margin-top">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
          </div>
        </li>
        <li class="p-philosophy-main__item p-philosophy-item">
          <div class="p-philosophy-item__img">
            <img src="images/common/content/content3.png" alt="content3">
          </div>
          <div class="p-philosophy-item__message p-philosophy-item__message_margin">
           <h2 class="p-philosophy-item__title">企業理念３</h2>
           <p class="p-philosophy-item__text p-philosophy-item__text_margin-top">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
          </div>
        </li>
      </ul>

    </main> 


  </body>
</html>
